<section class="ncontent">
  <h1>Pet Klin Rações</h1>
  <div class="note">
    <p class="note-paragraph">
      Entregamos nas regiões Tatuqara, Pinheirinho, ...
    </p>
    <p class="note-paragraph">
      Frete grátis a partir de R$ 50,00
    </p>
    <p class="note-paragraph">
      Pedidos até as 10h, entregas entre 11h~13h do mesmo dia
    </p>
    <p class="note-paragraph">
      Pedidos até as 17h, entregas às 18h~20h do mesmo dia
    </p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @if(getCatalog()) {
      <div class="form-item">
        <label>Ração para</label>
        <mat-select formControlName="petType" required>
          @for(petType of getPetTypeOptions(); track petType) {
            <mat-option [value]="petType">{{petType.toString()}}</mat-option>
          }
        </mat-select>
      </div>

      <div class="form-item">
        <label>Marca</label>
        <mat-select formControlName="product" required>
          <mat-option [value]="null">--</mat-option>
          @for(product of getProductOptions(); track product) {
            <mat-option [value]="product">{{product.label}}</mat-option>
          }
        </mat-select>
      </div>

      <mat-tab-group (selectedIndexChange)="selectWeightType($event)">
        <!-- SACOS -->
        <mat-tab [label]="weightOptions[0]">
          <div class="form-item">
            <label for="weight">Peso do saco</label>
            <div 
              class="alert" 
              *ngIf="this.form.controls.bag.touched && this.form.controls.bag.hasError('conditionalBagNotInformed')">
              Esse campo é obrigatório
            </div>
            <mat-select formControlName="bag" >
              <mat-option [value]="null">--</mat-option>
              @for(bag of this.form.value.product?.bags; track bag) {
                <mat-option [value]="bag">{{bag.weight}} KG por {{toCurrency(bag.price)}}</mat-option>
              }
            </mat-select>
          </div>
            
          <div class="form-item">
            <label for="bag-quantity-input">Quantidade de sacos</label>
            <div 
              class="alert" 
              *ngIf="this.form.controls.bagQuantity.touched && this.form.controls.bagQuantity.hasError('conditionalBagQuantityNotInformed')">
              Esse campo é obrigatório
            </div>
            <input id="bag-quantity-input" type="number" value="1" formControlName="bagQuantity">
          </div>
  
          <p>{{form.value.bag?.weight && form.value.bagQuantity
              ? form.value.bagQuantity + 'x - Saco de ' + form.value.bag!.weight + 'KG ' + toCurrency(form.value.bag!.price!)
              : '-'}}
          </p>
          <p>Subtotal: {{form.value.bag?.price && form.value.bagQuantity ? getSumFromBags() : '-'}}</p>
        </mat-tab>
        <!-- A GRANEL -->
        <mat-tab [label]="weightOptions[1]">
          <div class="form-item">
            <p>Preço por KG: {{getBulkPriceFromSelectedProduct() ? toCurrency(getBulkPriceFromSelectedProduct()!) : '0'}}</p>

            <label for="bulk-quantity">Quantidade em KG</label>
            <input id="bulk-quantity" type="number" value="1" formControlName="bulkQuantity">
          </div>
  
          <p>Subtotal: {{form.value.bulkQuantity && getBulkPriceFromSelectedProduct() ? toCurrency(form.value.bulkQuantity! * getBulkPriceFromSelectedProduct()!) : '-'}}</p>
        </mat-tab>
      </mat-tab-group>
    }
    <p style="background-color: yellow;">
      {{this.converteEmString(this.form.value)}}
    </p>

    <div class="footer-buttons">
      <button mat-stroked-button type="submit">Continuar</button>
    </div>
  </form>
</section>
