:host {
  border: solid 1px black;
  flex: 1;
}

.new-order-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.note {
  border: solid 1px black;
}

.note-paragraph {
  margin: 5px;
  font-size: 1rem;
}

.form-item {
  display: flex;
  flex-direction: column;

  select {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
  }
  
  label {
    margin-bottom: 0px;
  }
}

.footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
