<section>
  <div class="content">
    <h1>Pet Klin Rações</h1>
    <div class="note">
      <p class="note-paragraph">
        Entregamos nas regiões Tatuqara, Pinheirinho, ...
      </p>
      <p class="note-paragraph">
        Frete grátis a partir de R$ 50,00
      </p>
      <p class="note-paragraph">
        Pedidos até as 10h, entregas entre 11h~13h do mesmo dia
      </p>
      <p class="note-paragraph">
        Pedidos até as 17h, entregas às 18h~20h do mesmo dia
      </p>
    </div>
    @if(getCatalog()) {
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-item">
          <label for="category-select">Ração para</label>
          <select id="category-select" formControlName="petType">
            @for(petType of getPetTypes(); track petType) {
              <option [value]="petType">{{petType.toString()}}</option>
            }
          </select>
        </div>

        <div class="form-item">
          <label for="product-select">Marca</label>
          <select id="product-select" formControlName="product">
            @for(product of getProducts(); track product) {
              <option [value]="product.label">{{product.label}}</option>
            }
          </select>
        </div>

        <div class="form-item">
          <label for="product-select">Tipo de pesagem</label>
          <div class="tab">
            <button type="button" (click)="selectBagWeightType()">Saco</button>
            <button type="button" (click)="selectBulkWeightType()">Granel</button>
          </div>
        </div>

        @if(form.value.weightType == "Saco") {
          <div class="form-item" formGroupName="bag">
            <label for="weight">Peso do saco</label>
            <select (change)="onBagSelect($event)" id="weight" formControlName="weight">
              @for(bag of getBagOptions(); track bag) {
                <option [value]="bag.weight">{{bag.weight}} KG por {{toCurrency(bag.price)}}</option>
              }
            </select>
          </div>
            
          <div class="form-item">
            <label for="bag-quantity-input">Quantidade de sacos</label>
            <input id="bag-quantity-input" type="number" value="1" formControlName="bagQuantity">
          </div>

          <p>
            {{form.value.bag?.weight && form.value.bagQuantity
              ? form.value.bagQuantity + 'x - Saco de ' + form.value.bag!.weight + 'KG ' + toCurrency(form.value.bag!.price!)
              : '-'}}
          </p>
          <p>Subtotal: {{form.value.bag?.price && form.value.bagQuantity ? getSumFromBags() : '-'}}</p>
        }

        @if(form.value.weightType == "Granel") {
          <div class="form-item">
            <label for="bulk-quantity">Quantidade em KG</label>
            <input id="bulk-quantity" type="number" value="1" formControlName="bulkQuantity">
          </div>

          <p>Subtotal: {{form.value.bulkQuantity && getBulkPriceFromSelectedProduct() ? toCurrency(form.value.bulkQuantity! * getBulkPriceFromSelectedProduct()!) : '-'}}</p>
        }

        <div class="footer-buttons">
          <button type="submit">Confirmar com submit</button>
        </div>
      </form>
    }
  </div>
</section>
