:host {
  border: solid 1px black;
  flex: 1;
  overflow: auto;
}

.note {
  border: solid 1px black;
}

.note-paragraph {
  margin: 5px;
  font-size: 1rem;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

mat-select {
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px;
  width: calc(100% - 8px);
}

.alert {
  color: red;
}
