:host {
  flex: 1;
  overflow: auto;
}

.note {
  border: solid 1px #dddddd;
  border-radius: 8px;
  padding: .5rem;
}

.note-section {
  h3 {
    font-weight: 500;
    margin-bottom: 0px;
  }
}

mat-form-field {
  display: flex;
}

input {
  flex: 1
}

