:host {
  flex: 1;
  overflow: auto;
}

mat-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem 1rem .5rem 1rem;
}

#cart-content {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  gap: 4px;
  border: solid 1px #dddddd;
  border-radius: 8px;
}

#cart-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cart-content-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}

#sub-cart-panel {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#cart-content mat-card {
  mat-card-header {
    padding-top: 2px;
    padding-right: 0px;
    justify-content: space-between;

    mat-card-actions {
      align-items: flex-start;

      mat-icon {
        border: 1px solid crimson;
        border-radius: 4px;
        color: black;
      }
    }
  }

  mat-card-footer {
    padding-bottom: 4px;

    p {
      margin-bottom: 0px;
    }
  }
}