<section class="section-content">
  @if(!isLoading) {
    <form [formGroup]="form">
      <mat-form-field class="form-item">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="phone" placeholder="Ex: (41) 91234-5678" mask="(00) 00000-0000">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="zipCode" mask="00000-000">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Rua</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Número</mat-label>
        <input matInput type="number" formControlName="numberInStreet">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Bairro</mat-label>
        <input matInput type="text" formControlName="neighborhood">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complement" placeholder="Ex: Casa, Bloco 23 - AP 200">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Form de pagamento</mat-label>
        <mat-select formControlName="paymentMethod" required>
          @for(paymentOption of getPaymentOptions(); track paymentOption){
            <mat-option [value]="paymentOption">{{paymentOption.toString()}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
    <div class="footer">
      <button mat-stroked-button (click)="advanceToNextStep()">Confirmar no WhatsApp!</button>
    </div>
  }
</section>
