<section class="section-content">
  @if(!isLoading) {
    <div class="form-item">
      <label>Nome</label>
      <input formControlName="name"/>
    </div>

    <div class="form-item">
      <label>Telefone</label>
      <input formControlName="phone"/>
    </div>

    <div class="form-item">
      <label>CEP</label>
      <input formControlName="zipCode"/>
    </div>

    <div class="form-item">
      <label>Rua</label>
      <input formControlName="street"/>
    </div>

    <div class="form-item">
      <label>Número</label>
      <input formControlName="numberInStreet"/>
    </div>

    <div class="form-item">
      <label>Bairro</label>
      <input formControlName="neighborhood"/>
    </div>

    <div class="form-item">
      <label>Complemento</label>
      <input formControlName="complement"/>
    </div>

    <div class="form-item">
      <label>Maio de pagamento</label>
      <mat-select formControlName="paymentMethod" required>
        @for(paymentOptions of getPaymentOptions(); track paymentOptions){
          <mat-option [value]="paymentOptions">{{paymentOptions.toString()}}</mat-option>
        }
      </mat-select>
      Valor do bagulho{{form.controls.paymentMethod.value}}
    </div>
    <div class="footer">
      <button mat-stroked-button (click)="advanceToNextStep()">Continuar</button>
    </div>
  }
</section>
