html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.section-content {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

mat-select {
  border: solid 1px #dddddd;
  border-radius: 8px;
  padding: 4px;
  max-width: calc(100% - 12px) !important;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 8px;

  button {
    flex: 1;
  }
}

.alert {
  color: red;
}

mat-icon {
  margin-right: 0px !important;
}
